@import "tailwindcss";

@font-face {
  font-family: 'Corinthia';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('./assets/fonts/Corinthia/Corinthia-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Niramit';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('./assets/fonts/Niramit/Niramit-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Niramit-bold';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url('./assets/fonts/Niramit/Niramit-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Niramit-SemiBold';
  font-style: normal;
  font-weight: auto;
  font-display: swap;
  src: url('./assets/fonts/Niramit/Niramit-SemiBold.ttf') format('truetype');
}

@theme {
  --color-dark-gold: #503C17;
  --color-very-light-gold: #FFF8EA;
  --background-white: #FFFCF8;
  --color-gold: #8D6A29;
  --color-white-custom: #FFFCF8;
  --color-dark-gray: #615F5F;
  --mobile-bg-position: -4rem ;
}

@plugin 'tailwind-scrollbar-hide';