@import "tailwindcss";

@font-face {
  font-family: 'Corinthia';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('./assets/fonts/Corinthia/Corinthia-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Niramit';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('./assets/fonts/Niramit/Niramit-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Niramit-bold';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url('./assets/fonts/Niramit/Niramit-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Niramit-extralight';
  font-style: normal;
  font-weight: auto;
  font-display: swap;
  src: url('./assets/fonts/Niramit/Niramit-ExtraLight.ttf') format('truetype');
}

@theme {
  --color-dark-gold: #503C17;
  --color-very-light-gold: #FFF8EA;
  --background-white: #FFFCF8;
  --color-gold: #8D6A29;
  --breakpoint-xs: 15rem;
  --breakpoint-2xs: 21rem;
  --text-tiny: 2.50rem;
  --mobile-bg-position: -4rem ;
}